<?xml version="1.0"?>
<launch>

    <param name="maxlen"          type="double" value="100.0" />    
    <param name="minlen"          type="double" value="0.5" />    
    <param name="pcTopic"         type="str"    value="/livox/lidar" />
    
    <param name="x_resolution"     type="double" value="0.4" /> 
    <param name="ang_Y_resolution" type="double" value="3.0" />
    <param name="y_interpolation"  type="double" value="5.0" />
    <param name="ROI"              type="int"    value="5" />
    <param name="Times_ROI"        type="int"    value="1" />    
    <param name="max_angle_width"  type="double" value="360.0" />
    <param name="max_angle_height" type="double" value="360.0" />
    

 
    <param name="ang_ground"    type="double" value="0.0" />
    <param name="max_var"    type="double" value="0.05" />
    <param name="filter_output_pc"    type="bool" value="true" />

    <node pkg="livox_360_processing" type="interpolated_livox360_node" name="interpolated_livox360_node" output="screen"/>

<!-- rviz
<node type="rviz" name="rviz" pkg="rviz" args="-d $(find livox_360_processing)/rviz/livox.rviz" />-->
    
  </launch>
